body{
    background-color: #9a8c98;
}
#nav{
    background-color: #4a4e69;
    color: #f2e9e4;
}
.card{
    background-color: #4a4e69;
    color: #f2e9e4;
    align-self: center;
    align-items: center;
}
.card-body{
    align-self: center;
}
.navbar-brand{
    color: #f2e9e4;
}
.nav-link{
    color: #f2e9e4;
}

.by{
    color: #9a8c98;
}
